*{
    margin: 0;
}

/**** DEBUT DU HEADER ****/
header {
    background-color: #303134; 
}

.header-content {
    display: flex; /* Utilise Flexbox pour aligner horizontalement les éléments */
    align-items: center; /* Centre les éléments verticalement */
    padding: 10px; 
}

/* Styles pour le logo */
header img {
    width: 150px; 
    margin-right: 20px; 
}

/* Styles pour la barre de recherche */
#searchInput {
    flex: 1; /* Fait en sorte que la barre de recherche occupe tout l'espace disponible */
    margin-right: 20px; 
}

/* Styles pour les boutons */
header button {
    margin-right: 10px; 
    border-radius: 20px;
    font-family: "Play", sans-serif;
    background-color: red;
    font-size: 20px;
}

header button a{
    color: black;
    transition: color 0.3s, font-size 0.3s; /* Transition fluide */
}

header button a:hover{
    color: black;
    font-size: 22px; 
    text-decoration: none;
}

/* Styles pour la navigation */
nav ul {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
}

nav ul li{
    display: inline-block; /* Affiche les éléments en ligne */
    margin-right: 50px;
    margin-left: 50px;
}

nav ul li a{
    color: red;
    font-family: "Play", sans-serif;
    font-size: 22px;
}

nav ul li a:hover{
    color: red;
    font-size: 30px; 
    transition: color 0.3s, font-size 0.3s; /* Transition fluide */
    background-color: #303134;
    text-decoration: none;
}

#searchInput {
    flex: 1; /* Fait en sorte que la barre de recherche occupe tout l'espace disponible */
    margin-right: 10px; 
    padding: 5px;
    border: 1px solid #ccc; 
    border-radius: 20px;
}

.imgFavorite{
    height: 40px;
    width: 40px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}


/**** FIN DU HEADER ****/
main{
    background-color: black;
    color: red;
    font-family: play;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
/**** Styles pour les bouton du main ****/
main button{
    background: black;
    color: red;
    border: 2px solid red;
    border-radius: 5px;
    padding: 15px;
    font-family: "Play", sans-serif;
    cursor: pointer;
    transition: .3s all ease-in-out;
}

.buttons button:hover, .buttons button:active {
    background: red;
    color: #303134;
}


main img{
    max-width: 100%;
    display: block;
}

main h2{
    text-align: center;
    font-weight: normal;
    font-size: 16px;
}

/**** grille d'affichage ****/
.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

@media screen and (max-width: 1000px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px) {
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

/**** détails des séries TV ****/
.film {
    cursor: pointer;
    padding: 10px;
    overflow: hidden;
}

.film_img {
    position: relative;
}

.film_img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(315deg, white 0%, red 100%);
    opacity: 0;
    transition: 1s all ease-in-out;
}

.film:hover .tv-show_img::before {
    opacity: 0.5;
}

.note{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 30px;
    color: wheat;
    transform: translateX(120%);
    transition: 1s all ease-in-out;
}
.film:hover .note {
    transform: translateX(0);
}

/**** fenêtre popup ****/

.popup {
    position: fixed;
    background: #0D1117;
    border-radius: 20px;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 30px #303134;
    transform: translate(-50%, 100%);
    transition: 1s all ease-in-out;
    display: none; /* Caché par défaut */
    font-family: "play";
    box-shadow: 0 30px 50px red;
}

.popup.active {
    transform: translate(-50%, -50%);
    display: flex; /* Afficher lorsque la classe active est ajoutée */
}
.popup_img {
    width: 40%;
}
.popup_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;  
}


.popup_txt {
    width: 60%;
    padding: 25px;
    color: red;
}
.popup_txt h3 {
    text-align: center;
    font-weight: normal;
    font-size: 50px;
    margin: 10px;
}
    
.popup_txt p {
    text-align: center;
    line-height: 30px;
    margin: 10px;
}

.star {
    cursor: pointer;
    font-size: 24px;
    margin: 5px;
}

.highlight {
    color: gold !important;
}

/**** bouton de fermeture de la popup ****/
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: 2s all ease-in-out;
}
.close:hover {
    transform: rotate(360deg) scale(1.2);
}

/**** DEBUT DU FOOTER ****/

.alignage{
    display:flex;
}

footer{
    background-color: #303134;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
footer ul{
    display: flex;
}

section h3{
    text-align: center;
    font-family: 'play';
}

footer ul li a{
    text-decoration: none;
    font-size: 22px;
    font-family: "Play", sans-serif;
    color: red;
    
}
footer ul li{
    list-style-type: none;
    margin: 20px;
}

.img-container {
    display: flex;
    justify-content: space-between; 
}

.img-container img {
    height: 40px;
    margin: 20px;
}

footer img{
    height: 130px;
}

footer p{
    font-family: 'play';
    margin: 10px 0px;
    text-align: center;
    
}

footer section{
    display: flex;
    justify-content: space-between;
}
/**** FIN DU FOOTER ****/