.movie {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
}
  
.movie h2 {
    margin-top: 0;
}

.movie img {
    max-width: 100%;
}

#authContainer {
    max-width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

input, button {
    display: block;
    margin: 10px auto;
}
